POSTGRES_DB_URL=db url
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
LLM_PROVIDER=lmstudio
LM_STUDIO_URL=http://10.57.24.131:1234/v1
EMBEDDING_MODEL_NAME=sentence-transformers/stsb-xlm-r-multilingual
MAX_CONCURRENT_QUERIES=1
MAX_QUEUE_SIZE=50
QUEUE_TIMEOUT_SECONDS=180
