POSTGRES_DB_URL={DATABASE URL}
NEXT_PUBLIC_SUPABASE_URL={SUPABASE URL / LOCAL URL OF THE CLOUDFlARE TUNNING URL}
NEXT_PUBLIC_SUPABASE_ANON_KEY={ANON KEY}
SUPABASE_SERVICE_ROLE_KEY={SERVICE SUPABASE_SERVICE_ROLE_KEY}
LM_STUDIO_URL=http://127.0.0.1:1234/v1
